<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<!-- <title>Codes &amp; Notes – Codes and notes is a reference for web development that you can trust</title> -->
	<title><%= discover_page_title %></title>
	<meta name="description" content="Codes and notes is a reference for web development that you can trust" />
	<!-- <link rel="stylesheet" type="text/css" href="codesandnotes.css" /> -->
	<!-- <link rel="stylesheet" type="text/css" href="styles/codesandnotes.css" /> -->
	<%= stylesheet_link_tag 'codesandnotes' %>

	<!-- // <script src="//use.typekit.net/krs2vbw.js"></script>
	<script>try{Typekit.load();}catch(e){}</script> -->
</head>
<!-- <body class="home blog logged-in"> -->
<body class="<%= page_classes %>">

	<!-- <header class="Manchet">
		<h1>Codes &amp; Notes</h1>
		<h2>A guide to web development that you can trust</h2>
		<h3>by <span class="Author">Oskar Rough Mosumgaard</span></h3>
		<p>A book for anyone wanting to learn more about web development.<br>Whether you are just getting started or need a trustworthy reference, this is it.</p>
		<hr class="Ornament" id="toc">
	</header> -->

	<main>
		<%= yield %>
		<!-- <div class="toc">
			<%= table_of_contents(current_page) %>
		</div> -->
	</main>

	<nav>
		<div class="Pager">
			<%= previous_link(data.tree) %>
			<%= next_link(data.tree) %>
		</div>
		<div class="Toc">
			<h3>Table of contents</h3>
			<ul>
				<%= tree_to_html(data.tree) %>
				<!-- https://github.com/bryanbraun/middleman-navtree -->
			</ul>
		</div>
	</nav>

	<footer>
		<p><a href="http://codesandnotes.com">Codes &amp; Notes</a> <span class="Copyright">&copy; Oskar Rough Mosumgaard 2014</span> <a href="/about">→  About</a></p>
	</footer>

</body>
</html>
